<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="connStr" connectionString="server=LAPTOP-61GDB2Q7\SQLEXPRESS;database=MediDB;uid=sa;pwd=root123"/>
	</connectionStrings>
</configuration>